NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE=your_supabase_service_role
SMTP_PASS="your_smtp_password"
EMAIL_FROM=your_email
NEXT_PUBLIC_BASE_URL=your_base_url
OPENAI_API_KEY=your_openai_api_key